<!DOCTYPE html>
<html lang="en">
<head th:replace="~{blocks/head :: head(title = ${title})}"></head>

<body>

<header th:replace="~{blocks/header :: header}"></header>


<main class="mt-5 border-top">

  <div class="container px-4 py-5">

    <div class="py-5 my-5 border-top">
      <h1 class="display-5 fw-bold text-body-emphasis fs-1 text-center">Что такое процессор (CPU)</h1>
      <!-- Краткая характеристика -->

      <div class="row align-items-center">
        <div class="col-12 align-self-center">
          <p class="fs-4">
            В статье расскажем о том, что такое ЦП (центральный процессор), рассмотрим функции процессора и разберем как он работает.

          </p>
        </div>
      </div>
    </div>
  </div>
  </div>




  <div class="b-example-divider"></div>

  <div class="container px-lg-5 py-5">

    <div class="py-5 my-5  border-top">
      <h1 class="display-5 fw-bold text-body-emphasis fs-1 text-center">Что делает процессор</h1>
      <!-- Краткая характеристика -->
      <p>
        В статье расскажем о том, что такое ЦП (центральный процессор), рассмотрим функции процессора и разберем как он работает.

        Процессор – это устройство, отвечающее за обработку информации. Его называют по-разному: центральный процессор (ЦП) или центральное процессорное устройство (ЦПУ) или central processing unit (CPU), но все эти термины обозначают элемент, который является “мозгом” вычислительного устройства (смартфона, телевизора, компьютера, планшета, фотоаппарата, сервера).

        Процессор представляет собой квадратную пластину со стороной около 5 сантиметров, с одной стороны которой находятся, похожие на ножки, коннекторы. С их помощью он прикрепляется к материнской плате – специальному элементу для установки дополнительных расширений.
      </p>
    </div>

  </div>

  <div class="b-example-divider"></div>

  <div class="container px-4 py-5">

    <div class="py-5 my-5  border-top">
      <h1 class="display-5 fw-bold text-body-emphasis fs-1 text-center">Из чего состоит процессор</h1>
      <!-- Краткая характеристика -->
      <p>
        В статье расскажем о том, что такое ЦП (центральный процессор), рассмотрим функции процессора и разберем как он работает.

        Процессор – это устройство, отвечающее за обработку информации. Его называют по-разному: центральный процессор (ЦП) или центральное процессорное устройство (ЦПУ) или central processing unit (CPU), но все эти термины обозначают элемент, который является “мозгом” вычислительного устройства (смартфона, телевизора, компьютера, планшета, фотоаппарата, сервера).

        Процессор представляет собой квадратную пластину со стороной около 5 сантиметров, с одной стороны которой находятся, похожие на ножки, коннекторы. С их помощью он прикрепляется к материнской плате – специальному элементу для установки дополнительных расширений.
      </p>
    </div>

  </div>

  <div class="b-example-divider"></div>

  <div class="container px-4 py-5">

    <div class="py-5 my-5  border-top">
      <h1 class="display-5 fw-bold text-body-emphasis fs-1 text-center">Основные характеристики процессоров</h1>
      <!-- Краткая характеристика -->
      <p>
        В статье расскажем о том, что такое ЦП (центральный процессор), рассмотрим функции процессора и разберем как он работает.

        Процессор – это устройство, отвечающее за обработку информации. Его называют по-разному: центральный процессор (ЦП) или центральное процессорное устройство (ЦПУ) или central processing unit (CPU), но все эти термины обозначают элемент, который является “мозгом” вычислительного устройства (смартфона, телевизора, компьютера, планшета, фотоаппарата, сервера).

        Процессор представляет собой квадратную пластину со стороной около 5 сантиметров, с одной стороны которой находятся, похожие на ножки, коннекторы. С их помощью он прикрепляется к материнской плате – специальному элементу для установки дополнительных расширений.
      </p>
    </div>

  </div>

  <div class="b-example-divider"></div>

  <div class="container px-4 py-5">

    <div class="py-5 my-5  border-top">
      <h1 class="display-5 fw-bold text-body-emphasis fs-1 text-center">Как работает процессор</h1>
      <!-- Краткая характеристика -->
      <p>
        В статье расскажем о том, что такое ЦП (центральный процессор), рассмотрим функции процессора и разберем как он работает.

        Процессор – это устройство, отвечающее за обработку информации. Его называют по-разному: центральный процессор (ЦП) или центральное процессорное устройство (ЦПУ) или central processing unit (CPU), но все эти термины обозначают элемент, который является “мозгом” вычислительного устройства (смартфона, телевизора, компьютера, планшета, фотоаппарата, сервера).

        Процессор представляет собой квадратную пластину со стороной около 5 сантиметров, с одной стороны которой находятся, похожие на ножки, коннекторы. С их помощью он прикрепляется к материнской плате – специальному элементу для установки дополнительных расширений.
      </p>
    </div>

  </div>

  <div class="b-example-divider"></div>

  <div class="container px-4 py-5">

    <div class="py-5 my-5  border-top">
      <h1 class="display-5 fw-bold text-body-emphasis fs-1 text-center">Виды процессоров</h1>
      <!-- Краткая характеристика -->
      <p>
        В статье расскажем о том, что такое ЦП (центральный процессор), рассмотрим функции процессора и разберем как он работает.

        Процессор – это устройство, отвечающее за обработку информации. Его называют по-разному: центральный процессор (ЦП) или центральное процессорное устройство (ЦПУ) или central processing unit (CPU), но все эти термины обозначают элемент, который является “мозгом” вычислительного устройства (смартфона, телевизора, компьютера, планшета, фотоаппарата, сервера).

        Процессор представляет собой квадратную пластину со стороной около 5 сантиметров, с одной стороны которой находятся, похожие на ножки, коннекторы. С их помощью он прикрепляется к материнской плате – специальному элементу для установки дополнительных расширений.
      </p>
    </div>

  </div>

  <div class="b-example-divider"></div>

  <div class="container px-4 py-5">

    <div class="py-5 my-5  border-top">
      <h1 class="display-5 fw-bold text-body-emphasis fs-1 text-center">Как выбрать процессор</h1>
      <!-- Краткая характеристика -->
      <p>
        В статье расскажем о том, что такое ЦП (центральный процессор), рассмотрим функции процессора и разберем как он работает.

        Процессор – это устройство, отвечающее за обработку информации. Его называют по-разному: центральный процессор (ЦП) или центральное процессорное устройство (ЦПУ) или central processing unit (CPU), но все эти термины обозначают элемент, который является “мозгом” вычислительного устройства (смартфона, телевизора, компьютера, планшета, фотоаппарата, сервера).

        Процессор представляет собой квадратную пластину со стороной около 5 сантиметров, с одной стороны которой находятся, похожие на ножки, коннекторы. С их помощью он прикрепляется к материнской плате – специальному элементу для установки дополнительных расширений.
      </p>
    </div>

  </div>


</main>




<footer  th:insert="~{blocks/footer :: footer}"></footer>

</body>

</html>