<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{blocks/head :: head(title = ${title})}"></head>

<body>
  <!-- header -->
  <!-- header -->

	<header th:replace="~{blocks/header :: header}"></header>


	<main class="mt-5 border-top">

		<!-- body -->

		<!-- Поисковик -->
		<div class="container px-4 py-5 d-flex align-items-center">


			<form class=" w-100 me-3" role="search">
				<input id="search" type="search" class="form-control px-4 shadow-lg" style="min-height: 50px; font-size: 22px;" placeholder="Поиск..." aria-label="Search">
			</form>

			<script>
				const searchInput = document.getElementById('search');

				searchInput.addEventListener('keyup', (event) => {
					if (event.key === 'Enter') {
						const searchTerm = searchInput.value;

						// Создайте объект, который сопоставляет поисковые термины с классами элементов
						const targetClasses = {
							"Сетапы": "setups",
							"Комплектующие": "components",
							"Периферия": "periphery",
							"Тестирование": "testing", // Исправление: изменено на "Тестовая система"
						};

						// Получите класс элемента, соответствующий поисковому термину
						let targetClass = null;
						for (const key in targetClasses) {
							if (searchTerm.includes(key)) {
								targetClass = targetClasses[key];
								break;
							}
						}

						// Если класс элемента найден, перейдите к соответствующему блоку
						if (targetClass) {
							const targetElement = document.querySelector(`.${targetClass}`);
							if (targetElement) {
								targetElement.scrollIntoView({ behavior: "smooth", block: "start" });
							}
						}
					}
				});
			</script>

		</div>
		<!-- Поисковик -->

		<div class="content bg-light">

			<div class="b-index-divider bg-white"></div>

			<!-- Навигационная панель -->
			<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary fixed-top invisible" style="width: 280px;">
				<hr>
				<ul class="nav nav-pills flex-column mb-auto">
					<li class="nav-item">
						<a href="#" class="nav-link active" aria-current="page">
							<svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
							Сетапы
						</a>
					</li>
					<li>
						<a href="#" class="nav-link link-body-emphasis">
							<svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
							Комплектующие
						</a>
					</li>
					<li>
						<a href="#" class="nav-link link-body-emphasis">
							<svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
							Периферия
						</a>
					</li>
					<li>
						<a href="#" class="nav-link link-body-emphasis">
							<svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
							Тесты
						</a>
					</li>
				</ul>
			</div>
			<!-- Навигационная панель -->


			<!-- Сетапы -->
			<div class="setups">
				<div class="container px-0 py-5 ">
					<div class="align-items-center py-5">
						<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">СЕТАПЫ</h1>
					</div>

					<div class="row g-4">
						<div class="col">
							<a th:href="@{/technoknyaz/setups/cheap-setup}">
								<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/setups/chip-setup-shadow.png}">
							</a>
							<p  class="text-center lead fs-4">БЮДЖЕТНЫЙ</p>

						</div>

						<div class="col">
							<a  th:href="@{/technoknyaz/setups/streaming-setup}">
								<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/setups/striming-setup-shadow.png}">
							</a>
							<p class="text-center lead fs-4">СТРИМЕРСКИЙ</p>

						</div>

						<div class="col">

							<a th:href="@{/technoknyaz/setups/gaming-setup}" >
								<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/setups/play-setup-shadow.png}">
							</a>
							<p class="text-center lead fs-4">ИГРОВОЙ</p>

						</div>

						<div class="col">

							<a  th:href="@{/technoknyaz/setups/mini-setup}">
								<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/setups/mini-setup-shadow.png}">
							</a>
							<p  class="text-center lead fs-4">МИНИ ПК</p>

						</div>

					</div>
				</div>

			</div>
			<!-- Сетапы -->

			<div class="b-index-divider bg-white"></div>

			<!-- Компоненты -->
			<div class="components">
				<div class="container px-0 py-5 ">
					<div class="align-items-center g-5 py-5">
						<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">КОМПЛЕКТУЮЩИЕ</h1>
					</div>

					<div class="row row-cols-sm-4 g-4">
						<div class="col">
							<a th:href="@{/technoknyaz/components/cpu}">
								<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/components/cpu.png}">
							</a>
							<p CLASS="text-center lead fs-4">ПРОЦЕССОР</p>

						</div>

						<div class="col">
							<a th:href="@{/technoknyaz/components/gpu}">
								<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/components/gpu.png}">
							</a>
							<p CLASS="text-center lead fs-4">ВИДЕОКАРТА</p>

						</div>

						<div class="col">
							<a th:href="@{/technoknyaz/components/ram}">
								<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/components/memory.png}">
							</a>
							<p CLASS="text-center lead fs-4">ОПЕРАТИВНАЯ ПАМЯТЬ</p>

						</div>

						<div class="col">
							<a th:href="@{/technoknyaz/components/motherboard}">
								<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/components/motherboard.png}">
							</a>
							<p CLASS="text-center lead fs-4">МАТЕРИНСКАЯ ПЛАТА</p>

						</div>

						<div class="col">
							<a th:href="@{/technoknyaz/components/storage-devices}">
								<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/components/hdd.png}">
							</a>
							<p CLASS="text-center lead fs-4">Накопители</p>

						</div>

						<div class="col">
							<a th:href="@{/technoknyaz/components/power}">
								<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/components/power.png}">
							</a>
							<p CLASS="text-center lead fs-4">БЛОК ПИТАНИЯ</p>

						</div>

						<div class="col">
							<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/components/cooler.png}">
							<p CLASS="text-center lead fs-4">КУЛЕР</p>

						</div>

						<div class="col">
							<a th:href="@{/technoknyaz/components/сooling-system}">
								<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/components/tower.png}">
							</a>
							<p CLASS="text-center lead fs-4">ОХЛАЖДЕНИЕ</p>

						</div>

						<div class="col">
							<a th:href="@{/technoknyaz/components/system-unit}">
								<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/components/box.png}">
							</a>
							<p CLASS="text-center lead fs-4">КОРПУС</p>

						</div>

					</div>


				</div>

			</div>
			<!-- Компоненты -->


			<div class="b-index-divider bg-white"></div>

			<!-- Периферия -->
			<div class="periphery">
				<div class="container px-0 py-5 ">
					<div class="align-items-center g-5 py-5">
						<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">ПЕРИФЕРИЯ</h1>
					</div>

					<div class="row row-cols-sm-4 g-4">
						<div class="col">
							<a th:href="@{/technoknyaz/periphery/keyboard}">
								<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/periphery/keyboard.png}">
							</a>
							<p class="text-center lead fs-4">КЛАВИАТУРА</p>

						</div>

						<div class="col">
							<a th:href="@{/technoknyaz/periphery/mouse}">
								<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/periphery/mouse.png}">
							</a>
							<p class="text-center lead fs-4">МЫШКА</p>

						</div>

						<div class="col">
							<a th:href="@{/technoknyaz/periphery/headphones}">
								<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/periphery/headphone.png}">
							</a>
							<p class="text-center lead fs-4">НАУШНИКИ</p>

						</div>

						<div class="col">
							<a th:href="@{/technoknyaz/periphery/monitor}">
								<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/periphery/monitor.png}">
							</a>
							<p class="text-center lead fs-4">МОНИТОР</p>

						</div>

						<div class="col">
							<a th:href="@{/technoknyaz/periphery/gamepad}">
								<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/periphery/jostic.png}">
							</a>
							<p class="text-center lead fs-4">ГЕЙМПАД</p>

						</div>

						<div class="col">
							<a th:href="@{/technoknyaz/periphery/camera}">
								<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/periphery/cam.png}">
							</a>
							<p class="text-center lead fs-4">ВЕБ-КАМЕРА</p>

						</div>

					</div>

				</div>

			</div>
			<!-- Периферия -->

			<div class="b-index-divider bg-white"></div>

			<div class="testing">
				<div class="container px-4 py-5 d-flex align-items-center">

					<a href="/technoknyaz/testing-system">
						<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" src="/img/system testing.png">
					</a>
				</div>

			</div>



		</div>


		</div>

		<!-- body -->

	</main>

  <!-- footer -->
  <footer  th:insert="~{blocks/footer :: footer}"></footer>
  <!-- footer -->

  </body>

</html>