<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{blocks/head :: head(title = ${title})}"></head>

<body>
  <!-- header -->
  <!-- header -->

	<header th:replace="~{blocks/header :: header}"></header>


	<main class="mt-5 border-top">

		<!-- body -->

		<div class="container px-4 py-5 d-flex align-items-center">

			<form class=" w-100 me-3" role="search">
				<input type="search" class="form-control px-4 shadow-lg" style="min-height: 50px; font-size: 22px;" placeholder="Поиск..." aria-label="Search">
			</form>
			<button style="background-color: #7752b0; min-height: 50px; font-size: 22px;" class="btn btn-primary text-white rounded-pill " type="button"><a href="#" class="nav-link ">Найти</a></button>

		</div>

		<div class="content bg-light">

			<div class="b-index-divider bg-white"></div>

			<!-- Навигационная панель -->
			<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary fixed-top invisible" style="width: 280px;">
				<hr>
				<ul class="nav nav-pills flex-column mb-auto">
					<li class="nav-item">
						<a href="#" class="nav-link active" aria-current="page">
							<svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
							Сетапы
						</a>
					</li>
					<li>
						<a href="#" class="nav-link link-body-emphasis">
							<svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
							Комплектующие
						</a>
					</li>
					<li>
						<a href="#" class="nav-link link-body-emphasis">
							<svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
							Периферия
						</a>
					</li>
					<li>
						<a href="#" class="nav-link link-body-emphasis">
							<svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
							Тесты
						</a>
					</li>
				</ul>
			</div>
			<!-- Навигационная панель -->

			<div class="container px-4 py-5 ">
				<div class="align-items-center py-5">
					<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">СЕТАПЫ</h1>
				</div>

				<div class="row row-cols-sm-2 g-4">
					<div class="col">
						<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/setups/chip-setup-shadow.png}">
						<p CLASS="text-center lead fs-4">БЮДЖЕТНЫЙ</p>

					</div>

					<div class="col">
						<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/setups/striming-setup-shadow.png}">
						<p CLASS="text-center lead fs-4">СТРИМЕРСКИЙ</p>

					</div>

					<div class="col">
						<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/setups/play-setup-shadow.png}">
						<p CLASS="text-center lead fs-4">ИГРОВОЙ</p>

					</div>

					<div class="col">
						<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/setups/mini-setup-shadow.png}">
						<p CLASS="text-center lead fs-4">МИНИ ПК</p>

					</div>

				</div>
			</div>

			<div class="b-index-divider bg-white"></div>

			<div class="container px-4 py-5 ">
				<div class="align-items-center g-5 py-5">
					<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">КОМПЛЕКТУЮЩИЕ</h1>
				</div>

				<div class="row row-cols-sm-3 g-4">
					<div class="col">
						<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/components/cpu.png}">

						<p CLASS="text-center lead fs-4">ПРОЦЕССОР</p>

					</div>

					<div class="col">
						<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/components/gpu.png}">
						<p CLASS="text-center lead fs-4">ВИДЕОКАРТА</p>

					</div>

					<div class="col">
						<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/components/memory.png}">
						<p CLASS="text-center lead fs-4">ОПЕРАТИВНАЯ ПАМЯТЬ</p>

					</div>

					<div class="col">
						<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/components/motherboard.png}">
						<p CLASS="text-center lead fs-4">МАТЕРИНСКАЯ ПЛАТА</p>

					</div>

					<div class="col">
						<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/components/hdd.png}">
						<p CLASS="text-center lead fs-4">ЖЕСТКИЙ ДИСК</p>

					</div>

					<div class="col">
						<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/components/power.png}">
						<p CLASS="text-center lead fs-4">БЛОК ПИТАНИЯ</p>

					</div>

					<div class="col">
						<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/components/cooler.png}">
						<p CLASS="text-center lead fs-4">КУЛЕР</p>

					</div>

					<div class="col">
						<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/components/tower.png}">
						<p CLASS="text-center lead fs-4">ОХЛАЖДЕНИЕ</p>

					</div>

					<div class="col">
						<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/components/box.png}">
						<p CLASS="text-center lead fs-4">СИСТЕМНИК</p>

					</div>

				</div>


			</div>


			<div class="b-index-divider bg-white"></div>

			<div class="container px-4 py-5 ">
				<div class="align-items-center g-5 py-5">
					<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">ПЕРИФЕРИЯ</h1>
				</div>

				<div class="row row-cols-sm-3 g-4">
					<div class="col">
						<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/periphery/keyboard.png}">

						<p CLASS="text-center lead fs-4">КЛАВИАТУРА</p>

					</div>

					<div class="col">
						<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/periphery/mouse.png}">
						<p CLASS="text-center lead fs-4">МЫШКА</p>

					</div>

					<div class="col">
						<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/periphery/headphone.png}">
						<p CLASS="text-center lead fs-4">НАУШНИКИ</p>

					</div>

					<div class="col">
						<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/periphery/monitor.png}">
						<p CLASS="text-center lead fs-4">МОНИТОР</p>

					</div>

					<div class="col">
						<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/periphery/jostic.png}">
						<p CLASS="text-center lead fs-4">ГЕЙМПАД</p>

					</div>

					<div class="col">
						<img class="bd-placeholder-img card-img-top rounded-5 highlight-and-zoom-on-hover" th:src="@{/img/periphery/cam.png}">
						<p CLASS="text-center lead fs-4">ВЕБ-КАМЕРА</p>

					</div>

				</div>

			</div>


			</div>


		</div>

		<!-- body -->

	</main>

  <!-- footer -->
  <footer  th:insert="~{blocks/footer :: footer}"></footer>
  <!-- footer -->

  </body>

</html>