<div th:fragment="footer" style="background-color: #3d3d3d; color: #7752b0 ">
  <div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-2">
          <h5>Компания</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a th:href="@{/technoknyaz}" class="nav-link p-0" style="color: white">Главная страница</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 " style="color: white">Новости</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 " style="color: white">Партнёрам</a></li>
            <li class="nav-item mb-2"><a th:href="@{/technoknyaz/aboutUs}" class="nav-link p-0 " style="color: white">О нас</a></li>
          </ul>
        </div>

        <div class="col-2">
          <h5>Пользователям</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 " style="color: white">Правила сайта</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 " style="color: white">(донат)</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 " style="color: white">Помощь</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 " style="color: white">Обратная связь</a></li>
          </ul>
        </div>

        <div class="col-4 offset-1">
          <form>
            <h5>Подпишитесь на нашу рассылку новостей</h5>
            <p class="text-white">Ежемесячный дайджест всего нового и интересного от нас.</p>
            <div class="d-flex w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email адрес</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button style="background-color: #7752b0" class="btn btn-primary text-white rounded-pill"
                      type="button">Подписаться</button>
            </div>
          </form>
        </div>
      </div>

      <div class="d-flex justify-content-between py-4 my-4 border-top">
        <p class="text-secondary">© 2024 Company, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
      </div>
    </footer>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</div>

