<div th:fragment="footer">
  <div class="foot">

    <div class="palec">
      <p>
      <h3>Техническая поддержка</h3>
      </p>
      <p>
        Если вы столкнулись с трудностями или наткнулись на ошибку, убедительная просьба написать в тех/поддержку <a class="text-white"  href="https://github.com/Veteroch4k">Veteroch4k</a>
      </p>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</div>

