<div th:fragment="header">
  <header class="bebas-neue-regular d-flex flex-wrap justify-content-center py-3 text-white fixed-top" style="background-color: #7752b0">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4 text-white fw-bold">Компьютерный гид</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a  class="nav-link text-white">Личный кабинет</a></li>
    </ul>
    <div class="flex-shrink-0 dropdown mr-2"> <!-- Добавлен класс mr-2 для отступа справа -->
      <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle py-1" data-bs-toggle="dropdown" aria-expanded="false">
        <img th:src="@{/img/zeroTwo.jpeg}" alt="mdo" width="32" height="32" class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">Настройки</a></li>
        <li><a class="dropdown-item" href="#">Профиль</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Выход</a></li>
      </ul>
    </div>
  </header>

</div>