<div th:fragment="header">
  <header class="d-flex flex-wrap justify-content-center py-3  text-white" style="background-color: #7752b0">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4 text-white">Компьютерный гид</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a th:href="@{/technoknyaz/aboutUs}" class="nav-link text-white">О нас</a></li>
      <li class="nav-item"><a th:href="@{/technoknyaz/system-unit}" class="nav-link text-white">Системный блок</a></li>
     <!-- <li class="nav-item"><a th:href="@{/technoknyaz/periphery}" class="nav-link text-white">Периферия</a></li> -->
      <li class="nav-item"><a th:href="@{/technoknyaz/testing-system}" class="nav-link text-white">Система тестирования</a></li>
    </ul>
  </header>
</div>


